/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.tabs li.tab {
    padding: 15px 30px;
    cursor: pointer;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease;
}

.tabs li.tab:hover {
    background-color: #555;
}

.tabs li.active {
    background-color: #007bff;
}

.content {
    display: none; /* Oculta o conteúdo por padrão */
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
}

/* Mostrar a aba ativa */
.content.show {
    display: block; /* Exibe a aba quando a classe "show" é adicionada */
}
